<div class="container" layout="row" flex>
    <md-sidenav md-is-locked-open="$mdMedia('gt-sm')" class="md-whiteframe-4dp" md-component-id="contactsPane">
        <div class="contacts-box">
            <h3>Contacts</h3>
            <md-list class="requests-container" ng-click="chat.toggleContacts()">
                <md-list-item ng-repeat="requestObject in chat.user.data.requestList" class="request">
                    <md-button class="md-raised">
                        <i class="material-icons">account_circle</i>
                        <h5>{{requestObject.username}}</h5>
                        <div class="confirmRequest">
                            <button type="button" name="button" class="btn btn-success" ng-click="chat.acceptContact(requestObject._id)">Accept</button>
                            <button type="button" name="button" class="btn btn-danger" ng-click="chat.removeContact(requestObject._id)">Deny</button>
                        </div>
                    </md-button>
                </md-list-item>
            </md-list>
            <md-list class="contacts-container" ng-click="chat.toggleContacts()">
                <md-list-item ng-repeat="contactObject in chat.user.data.contactList" class="contact">
                    <md-button class="md-raised">
                        <i class="material-icons">account_circle</i>
                        <h5>{{contactObject.username}}</h5>
                    </md-button>
                </md-list-item>
            </md-list>
            <input type="text" class="form-control" ng-model="chat.inputUserName">
            <button type="button" name="button" class="btn btn-primary" ng-click="chat.addContact(chat.inputUserName)">Add Contact</button>
        </div>
        <div class="conversations-box">
            <h3>Conversations</h3>
            <md-list class="conversations-container" ng-click="chat.toggleContacts()">
                <md-list-item ng-repeat="conversationObject in chat.user.data.conversationList" class="conversation">
                    <md-button class="md-raised" ng-click="chat.joinConversation(conversationObject._id)">
                        <i class="material-icons">chat</i>
                        <p>
                            <span ng-if="participant.username !== chat.user.data.username" ng-repeat="participant in conversationObject.participants">{{participant.username}} </span>
                        </p>
                    </md-button>
                </md-list-item>
            </md-list>
            <input type="text" class="form-control" ng-model="chat.inputConversation">
            <button type="button" name="button" class="btn btn-primary" ng-click="chat.createConversation(chat.inputConversation)">Create Conversation</button>
        </div>
    </md-sidenav>
    <div layout="row" flex>
            <div class="messages-container" layout="column" flex>
                <md-content class="messages" flex="grow">
                  <md-list>
                    <md-list-item
                      ng-repeat="message in chat.socket.conversation.messages | orderBy: 'createdAt'"
                      class="message md-3-line"
                      ng-class="{received: message.author._id != chat.user.data._id, me: message.author._id == chat.user.data._id}"
                      layout="row";
                    >
                      <i ng-click="chat.inputTag(message._id)" class="material-icons">label_outline</i>
                        <div class="md-list-item-text">
                          <h3>{{message.author.username}}</h3>
                          <p>{{message.body}}</p>
                        </div>
                    </md-list-item>
                  </md-list>

                </md-content>
                <form class="chat-input" flex="auto" layout="row">
                  <md-input-container flex="grow">
                    <label for="inputMessage"></label>
                    <input type="text" class="form-control" name="inputMessage" ng-model="chat.inputMessage">
                  </md-input-container>
                  <md-input-container flex="auto">
                    <md-button md-no-ink="true" type="button" name="button" class="md-fab md-mini" ng-click="chat.user.socket.emit('message', {body: chat.inputMessage, conversationId: chat.socket.conversation.currentConversation})"><i class="material-icons">send</i></md-button>
                  </md-input-container>

                </form>
            </div>
            <md-sidenav md-is-locked-open='true' class="chat-info-container md-whiteframe-2dp" flex="30" layout="column" >
              <div class="tag-cloud" layout="row" layout-wrap ng-click="chat.removeFilter()">
                <md-button md-no-ink="true" class="md-raised tag" ng-repeat="tag in chat.socket.conversation.tags" ng-click="chat.filterConversation(tag); chat.setActiveFilter($index); $event.stopPropagation()" ng-class="{active : $index == chat.selectedFilter}">{{tag}}</md-button>
              </div>

            </md-sidenav>
    </div>
</div>
