[ng-cloak] {
  display: none;
}

html, body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  height: 100%;
  margin: 0px;
  padding: 0px;
}


.tag {
  min-width: 40px;
}

.tag.active {
  background-color: #03a9f4;
  color: white;
}

.messages .message .md-list-item-text {
  margin: 0;
}

.message i {

}

.message.me {

}

.message.received {

}

.message-input {
  margin: 0;
}

.request .confirm-request {
  float: right;
}

.request .confirm-request button{
  padding: 0;
  margin: 0;
}

.conversation-participants-list {
  padding: 0 1em;
}

.conversation-participants-list p {
  display: inline;
  margin: 0;
}

.conversation-participant::before {
  content: ', ';
}
.conversation-participant:first-child::before {
  content: '';
}

.create-conversation-form-submit button {
  float: right;
}

.open-conversation-form {
  display: none;
  float: right;
}

md-sidenav:hover .open-conversation-form {
  display: block;
}

.open-conversation-form .material-icons {
  position: absolute;
  top: 4px;
  left: 3px;
  font-size: 3.5em;
}
