[ng-cloak] {
  display: none;
}

html, body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.menu {
  background-color: transparent;
  border: none;
  height: 38px;
  margin: 16px;
  width: 36px;
}

md-toolbar h1 {
  margin: auto;
}

md-toolbar img {
  width: 40px;
  height: 40px;
  border-radius: 3px;
  margin: auto 0;
}

main {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

.tag {
  min-width: 40px;
}

.tag.active {
  background-color: #03a9f4;
  color: white;
}

.messages-container {

}


.messages-container ::-webkit-scrollbar {
    display: none;
}

.messages-container:hover ::-webkit-scrollbar {
    display: block;
}

.messages .message {
  padding: 10px 0px 5px 15px;
}

.messages .message .md-list-item-text {
  margin: 0.2em 0;
}

.message .message-body {
  padding-left: .5em;
}

.message .message-author-username {
  font-weight: bold;
}

.message .message-timestamp {
  font-size: .8em;
  color: #9e9e9e;
}

.message .message-metadata {
  position: relative;
  top: 3px;
}

.message .message-metadata img {
  border-radius: 3px;
}

.message .tag-icon {
  font-size: 1.7em;
  padding: 0.4em;
}

.message-metadata:hover .tag-icon {
  color: #03a9f4 !important;
}

.message p {
  margin: 0;
}

.message.me {

}

.message.received {

}

.message-input {
  margin: 0;
}

.contacts-box md-list {
  padding: 0px;
}

.request {

}

.contact img, .request img {
  width: 30px;
  margin-right: 5px;
  border-radius: 3px;
}

.request>button{
  margin: 0;
  /*border-bottom: 1px solid #40bf73;*/
}

.request .confirm-request {
  float: right;
}

.request .confirm-request button{
  padding: 0;
  margin: 0;
}

.contact>button{
  margin: 0;
  /*border-bottom: 1px solid #03a9f4;*/
  border-radius: 0;
}

.contact-form {
  padding: 0.2em 1em;
}

.contact-form md-input-container{
  margin: 0;
}

.conversation button {
  margin: 0;
}

.conversation-participants-list {

}

.conversation-participants-list p {
  display: inline;
  margin: 0;
}

.conversation-participant::before {
  content: ', ';
}
.conversation-participant:first-child::before {
  content: '';
}

.conversation-participant img {
  max-width: 20px;
  margin: 0 2px;
}

.create-conversation-form-submit button {
  float: right;
}

.open-conversation-form {
  display: none;
  float: right;
}

md-sidenav:hover .open-conversation-form {
  display: block;
}

md-sidenav h3 {
  background-color: #5774db;
  color: white;
  padding: 1em;
  margin: 0;
}

.open-conversation-form .material-icons {
  position: absolute;
  top: 4px;
  left: 3px;
  font-size: 3.5em;
}

md-dialog ::-webkit-scrollbar {
    display: none;
}
